* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  background-color: #db524d;
  color: white;
  /* margin: 0 33%; */
}

#mega-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.8px solid #541c1f49;
}

#mega-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.75rem;
}

#mega-nav ul li a {
  background-color: rgba(255, 255, 255, 0.253);
  display: flex;
  align-items: center;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
}

#timer {
  background-color: rgba(255, 255, 255, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem 5rem;
  margin-top: 2rem;
}

#timer ul {
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
  font-weight: 600;
  justify-content: space-evenly;
  margin: 0;
}
#timer ul li {
  padding: 0.25rem 0.75rem;
  border-radius: 0.3rem;
}

.active {
  background-color: #541c1f49;
}

#countdown {
  font-size: 10rem;
  font-weight: 600;
  margin: 1rem;
}

button {
  background-color: white;
  color: #db524d;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 6rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.4rem rgb(235, 235, 235);
  cursor: pointer;
}

#working-on {
  margin-top: 2rem;
}

h3 {
  color: rgba(255, 255, 255, 0.541);
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.25rem;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.tasks {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}

.dots {
  background-color: rgba(255, 255, 255, 0.253);
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
}
