* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  background-color: #db524d;
  color: white;
  /* margin: 0 33%; */
}

#mega-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.8px solid white;
}

#mega-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.75rem;
}

#mega-nav ul li a {
  background-color: rgba(255, 255, 255, 0.253);
  display: flex;
  align-items: center;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
}
