* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  background-color: #db524d;
  color: white;
  /* margin: 0 30%; */
}

main {
  padding: 0 25%;
  padding-bottom: 6rem;
}

#mega-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.8px solid #541c1f49;
}

#mega-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 0.75rem;
}

#mega-nav ul li a {
  background-color: rgba(255, 255, 255, 0.253);
  display: flex;
  align-items: center;
  padding: 0.3rem;
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
}

#timer {
  background-color: rgba(255, 255, 255, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem 5rem;
  margin-top: 2rem;
}

#timer ul {
  display: flex;
  list-style-type: none;
  gap: 0.5rem;
  font-weight: 600;
  justify-content: space-evenly;
  margin: 0;
}
#timer ul li {
  padding: 0.25rem 0.75rem;
  border-radius: 0.3rem;
}

.active {
  background-color: #541c1f49;
}

#countdown {
  font-size: 10rem;
  font-weight: 600;
  margin: 1rem;
}

button {
  background-color: white;
  color: #db524d;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 6rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.4rem rgb(235, 235, 235);
  cursor: pointer;
}

#working-on {
  margin-top: 2rem;
}

h3 {
  color: rgba(255, 255, 255, 0.541);
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.25rem;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.tasks {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}

.dots {
  background-color: rgba(255, 255, 255, 0.253);
  padding: 0.2rem 0.1rem;
  border-radius: 0.3rem;
}

.current-task {
  display: flex;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: -0.3rem 0 black;
  color: rgb(63, 63, 63);
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  margin-top: 1rem;
}

.d-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.grey-tick,
.number {
  color: rgb(180, 180, 180);
  padding-left: 1rem;
}

.dots2 {
  border: 0.1rem solid rgb(226, 226, 226);
  padding: 0.1rem 0.1rem;
  border-radius: 0.3rem;
  color: rgb(180, 180, 180);
}

.done-task {
  display: flex;
  background-color: white;
  border-radius: 0.2rem;
  /* box-shadow: -0.3rem 0 black; */
  color: rgb(63, 63, 63);
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  margin-top: 0.5rem;
}

.red-tick {
  color: #db524d;
  padding-left: 1rem;
}

.done-task p {
  color: rgb(180, 180, 180);
}

.add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #541c1f2c;
  margin-top: 1rem;
  border: 0.1rem dashed rgba(255, 255, 255, 0.541);
  color: rgba(255, 255, 255, 0.541);
  font-weight: 600;
}

.state {
  background-color: rgba(255, 255, 255, 0.253);
  padding: 0.8rem;
  margin-top: 2rem;
  border-top: 1px solid white;
}

.state ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.541);
  padding-left: 0;
}

.state ul span {
  font-size: 1.5rem;
  color: white;
}

.info {
  background-color: white;
  color: #541c1f;
  padding: 2rem 20%;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.info h2 {
  text-align: left;
  font-size: 1rem;
  margin-top: 2rem;
}

.line {
  background-color: #db524d;
  height: 0.2rem;
  width: 1rem;
  border-radius: 0.3rem;
}

a {
  color: #db524d;
  text-decoration: none;
  font-weight: 400;
}

ol li,
ul li {
  margin: 0.5rem;
  font-weight: 300;
}

.info ul {
  list-style: url(img/bullet.svg);
}

.info p {
  font-weight: 300;
}

footer {
  background-color: white;
  padding: 2rem;
}
footer nav {
}
